<div class="container">
    <div class="box">
        <nav class="navbar navbar-light bg-danger">
        <%= link_to root_path, class:"text-white navbar-brand" do %>
            <%= image_tag ('https://bit.ly/2Dx67Wk'), size: '30x30', class:"d-inline-block align-top", title:"Hangman Game" %>
            The Game!
        <% end %>
        </nav>
        <!--<h1>Hangman Game - Rails! </h1>-->
        <br>
        <h3 style="visibility:none">Health: <span id="health">4</span></h3>

        <div id="hearts" style="text-align: center; margin-right: 10px;display: inline-block;float: right;">
            <% 4.times do |i| %>
                <%= image_tag 'https://bit.ly/2BCFoHP', size:"40x40", id:"heart_#{i}" %>
            <% end %>
        </div>

        <% secret_word = @words.word  %>
        <% word = toArray(secret_word)[0] %>
        <!--<p>Secret word: <%= toArray(secret_word)[1] %></p>-->
        <br><br>
        <canvas style="border: 1px solid black;float:left;" onmousemove="showCoords(event)"></canvas>
        <br><br><br>

        <div id="showSecretWord" style="text-align: center;border: 0px solid black;margin-left: 350px;padding: 10px;visibility:hidden">
            <h2><%= secret_word %></h2>
        </div>
        <br><br>

        <div style="text-align: center;" id="whiteEspaces">
            <% secret_word.size.times do |i| %>
                <h3 id="wE_<%= i %>">_</h3>
            <% end %>
        </div>
        <br>
        <div id='letters' class="letters">
            <% c = 0%>
            <% word.each do |e| %>

                <%= button_tag(type: 'button', id:c, class:"btn btn-primary shadow", value:e) do %>
                    <%= e %>
                <% end %>
                <% c+=1 %>
                
            <% end %>
        </div>
    </div>
</div>

<script>
    let canvas = document.querySelector('canvas')

    canvas.width = 350
    canvas.height = 430 // 450

    let c = canvas.getContext('2d')

    drawnStructure(10)

    function legs(height) {
        // left
        c.beginPath()
        c.moveTo(180, 300)
        c.lineTo(235, height + 155)

        // right
        c.moveTo(150 * 2, 300)
        c.lineTo(235, height + 155)

        c.lineWidth = 10;
        c.strokeStyle = 'blue'
        c.stroke()
    }

    function arms(height) {
        // left
        c.beginPath()
        c.moveTo(180, 170)
        c.lineTo(235, height + 20)

        // right
        c.moveTo(150 * 2, 170)
        c.lineTo(235, height + 18)

        c.lineWidth = 10;
        c.strokeStyle = 'blue'
        c.stroke()
    }

    function body() {
        c.fillStyle = 'blue'
        c.fillRect(231, 109, 10, 150)
    }

    function head() {
        c.lineWidth = 10;
        c.beginPath()
        c.arc(235, 75, 30, Math.PI * 2, false)
        c.strokeStyle = 'blue'
        c.stroke()
    }

    function drawnStructure(def = 0) {
        c.fillStyle = 'brown'
        c.fillRect(def, def, 10, 350)
        c.fillRect(def, def, 230, 10)
        c.fillRect(def, 350 + def, 200, 10)

        // corda
        c.fillStyle = 'black'
        c.fillRect(220+def, 10+def, 10, 20)

        // diagonal;
        c.beginPath()
        c.moveTo(def + 5, 100 + def)
        c.lineTo(100 + def, def + 5)
        c.lineWidth = 10;
        c.strokeStyle = 'brown'
        c.stroke()
    }

    function showCoords(event) {
        var x = event.clientX;
        var y = event.clientY;
        var coords = "X coords: " + x + ", Y coords: " + y;
        c.stroke()
        //document.getElementById("demo").innerHTML = coords;
    }





//////////////////////////////
    var el = document.getElementById('letters');
    el.addEventListener('click', function(e) {
        const id = e.target.id.toString()
        if (id === 'letters') { return }
        let  word= '<%= word.join('') %>'
        word = word.split("")
        var secret_word = ('<%= secret_word %>')
        var remaining = 4
        function logArrayElements(element, index, array) {
            var getValue = document.getElementById(id).value
            var value = getValue
            var inside = secret_word.includes(value)
            let keyPressed = getValue
            //console.log(inside)
            if (!inside) {
                var element = document.getElementById(id).className = "btn btn-danger";
                var health = document.getElementsByClassName("btn btn-danger").length * (-1) + remaining
                console.log(health)
                if (health === 3) {
                    head()
                } else if (health === 2) {
                    body()
                } else if (health === 1) {
                    arms(100)
                } else if (health === 0) {
                    legs(100)
                }
                heart = document.getElementById("heart_"+health)
                if (health === 0) {
                    $("#heart_"+health).addClass("disabledbutton")
                } else {
                    $("#heart_"+health).hide()
                }
                document.getElementById('health').innerHTML = health
                if (health == 0) {
                    document.getElementById("showSecretWord").style.visibility = "visible"
                    document.getElementById("health").className = "text-danger"
                    document.getElementById("health").innerHTML = "GAME OVER!"
                    disableDiv()
                    sleep(3000).then(() => {
                        location.reload()
                    })
                }
                return null
            } else {
                document.getElementById(id).className = "btn btn-success";
                pushLetters(secret_word, keyPressed)
                let corrects = document.getElementsByClassName("btn btn-success").length
                let notWhiteEspaces = document.getElementsByName("not_wE").length
                let allCorrects = corrects === secret_word.length || secret_word.length === notWhiteEspaces
                if (allCorrects ) {
                    document.getElementById("health").className = "text-success"
                    document.getElementById("health").innerHTML = "CONGRATULATIONS!"
                    disableDiv()
                    sleep(3000).then(() => {
                        location.reload()
                    })
                }
            }
        }
        word.forEach(logArrayElements);
    })

    const pushLetters = (secret_word, keyPressed) => {
        for (let pos in secret_word) {
            if (secret_word[pos] === keyPressed) {
                document.getElementById(`wE_${pos}`).innerHTML = keyPressed;
                $('#wE_' + pos).attr('name', 'not_wE');
            }
        }
    }

    const disableDiv = _ => {
        $("#letters").addClass("disabledbutton")
    }
    
    const sleep = (milliseconds) => {
        return new Promise(resolve => setTimeout(resolve, milliseconds))
    }
</script>