<div class="container">
    <div class="box">
        <nav class="navbar navbar-light bg-danger">
        <%= link_to '#', class:"navbar-brand text-white" do %>
            <%= image_tag ('https://bit.ly/2Dx67Wk'), size: '30x30', class:"d-inline-block align-top", alt:"" %>
        The Game!
    <% end %>
    </nav>
        <h1>Hangman Game - Rails! </h1>
        <h3>Health: <span id="health">4</span></h3>
        <% secret_word = "HOUSE" %>
        <% word = toArray(secret_word)[0] %>
        <p>Secret word: <%= toArray(secret_word)[1] %></p>
        <div id='letters' class="letters">
            <% c = 0%>
            <% word.each do |e| %>

                <%= button_tag(type: 'button', id:c, class:"btn btn-primary shadow", value:e) do %>
                    <%= e %>
                <% end %>
                <% c+=1 %>
                
            <% end %>
        </div>
    </div>
</div>

<script>
    var el = document.getElementById('letters');
    el.addEventListener('click', function(e) {
        const id = e.target.id.toString()
        if (id === 'letters') { return }
        let word = '<%= word.join('') %>'
        word = word.split("")
        var secret_word = ('<%= secret_word %>')
        var remaining = 4
        function logArrayElements(element, index, array) {
            var getValue = document.getElementById(id).value
            var value = getValue
            var inside = secret_word.includes(value)
            console.log(inside)
            if (!inside) {
                var element = document.getElementById(id).className = "btn btn-danger";
                var health = document.getElementsByClassName("btn btn-danger").length * (-1) + remaining
                document.getElementById('health').innerHTML = health
                if (health == 0) {
                    document.getElementById("health").className = "text-danger"
                    document.getElementById("health").innerHTML = "GAME OVER!"
                    sleep(3000).then(() => {
                        location.reload()
                    })
                }
                return null
            } else {
                document.getElementById(id).className = "btn btn-success";
            }
        }
        word.forEach(logArrayElements);
    })

    const sleep = (milliseconds) => {
        return new Promise(resolve => setTimeout(resolve, milliseconds))
    }
</script>