<div class="container">
    <div class="box">
        <nav class="navbar navbar-light bg-danger ">
        <%= link_to '#', class:"navbar-brand" do %>
            <%= image_tag ('https://bit.ly/2Dx67Wk'), size: '30x30', class:"d-inline-block align-top", alt:"" %>
        The Game!
    <% end %>
    </nav>
        <h1>Hangman Game - Rails! </h1>
        <h3>Health: <span id="health">3</span></h3>
        <% secret_word = "HOUSE" %>
        <% word = toArray(secret_word)[0] %>
        <p>Secret word: <%= toArray(secret_word)[1] %></p>
        <div id='letters' class="letters">
            <% c = 0%>
            <% word.each do |e| %>

                <%= button_tag(type: 'button', id:c, class:"btn btn-primary", value:e) do %>
                    <%= e %>
                <% end %>
                <% c+=1 %>
                
            <% end %>
        </div>
    </div>
</div>

<script>
    var el = document.getElementById('letters');
    el.addEventListener('click', function(e) {
        id = e.target.id
        if (id === 'letters') { return }
        let word = '<%= word.join('') %>'
        word = word.split("")
        var secret_word = ('<%= secret_word %>')
        function logArrayElements(element, index, array) {
            var getValue = document.getElementById(id.toString()).value
            var value = getValue
            var inside = secret_word.includes(value)
            console.log(inside)
            if (!inside) {
                var element = document.getElementById(id).className = "btn btn-danger";
                var health = parseInt(document.getElementById('health').innerHTML) - 1
                return
                if (health >= 1) {
                    document.getElementById('health').innerHTML = health
                } else {
                    alert("GAME OVER!")
                    location.reload()
                }
                return
            } else {
                document.getElementById(id.toString()).className = "btn btn-success";
            }
        }
        word.forEach(logArrayElements);
    })
</script>