<!DOCTYPE html>
<html>
  <head>
    <title>Hangman Game</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body style="background-image: url('https://chupacdn.s3.amazonaws.com/catalog/product/cache/5/thumbnail/1280x/17f82f742ffe127f42dca9de82fb58b1/3/-/3-set-nature-and-desert-game-background-14764_imgs_14764_3.png');">
    <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
